/* Import do CSS do Calendário (vamos precisar dele) */
@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seu novo .glassmorphism (com borda primary) */
.glassmorphism {
  background: rgba(20, 20, 20, 0.5);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 255, 156, 0.1);
}

/* Estilo padrão do Material Symbols */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}